<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.jpg" type="image/jpg">
    <title>Book Emporium</title>
    <link rel="icon" href="/images/logo.jpg" type="image/jpg">
</head>

<body>
    <h1>We are working on the Website and it will updated soon!!!</h1>
</body>

</html>